@CHARSET "ISO-8859-1";
.bankTable {   
   border-collapse:collapse;
   border:1px solid #000000;
}

.bankTableHeader {
   text-align:left;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.bankTableOddRow {
   text-align:left;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.bankTableEvenRow {
   text-align:left;
   background:none repeat scroll 0 0 #D3D3D3;
}